<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="intro.css">
    
</head>
<body id="container">
    <div id="app">
        <div id="contents">
            <div class="header">
                
                <h1 @click="fnAlert">자기소개페이지</h1>
            </div>
            <div class="list">
                <div class="basicBtn">
                    <input id="basic1" type="radio" name="basicList" v-model="basic" value="자기소개">
                    <label for="basic1"><span>자기소개</span></label>
                    <input id="basic2" type="radio" name="basicList" v-model="basic" value="Experience">
                    <label for="basic2"><span>Experience</span></label>
                    <input id="basic3" type="radio" name="basicList" v-model="basic" value="보유기술">
                    <label for="basic3"><span>보유기술</span></label>
                    <input id="basic4" type="radio" name="basicList" v-model="basic" value="Education">
                    <label for="basic4"><span>Education</span></label>
                </div>
            </div>

            <div class="left-side" >
                <div id="profile-card">
                    <div>
                        <img id="profile">
                        <div>
                            <h2 id="profile_name" @click="fnAlert">Lim HJ</h2>
                        </div>
                        
                    </div>
                    
                    <div>
                        <h4 class="contact">⛪ Incheon, Korea
                    </div>

                    <div>
                        <h4 class="contact">📱 전화번호 : <br> 010 - xxxx - xxxx</h4>
                    </div>
                    <div>
                        <h4 class="contact">✉ 이메일 : <br> gildong@computer.com</h4>
                    </div>
                    
                </div>
                <div id="sns_button_box">
                        <!-- <input id="sns_button" type="button" value="sns로 이동!" href=""> -->
                        <a href="https://github.com/">Github로 이동!</a>
                </div>
                
            </div>
            <div class="middle">
                <div  v-if="basic == '자기소개'">
                    <div  class="introduce">
                        <h2 class="title">자기소개</h2>
                        <div>
                            <br>
                            <p><span>프로그래밍</span>에 관심이 많습니다.</p>
                            <p>현재 열심히 공부하며 코딩중!</p>
                        </div>
                    </div>
                    
                </div>
                <div v-if="basic == 'Experience'">
                    <div  class="introduce">

                        <h2 class="title">Experience</h2>
                        <div>
                            <ul>
                                <li>아주좋은 대학교</li>
                                    <ul>
                                        <li>응용프로그램개발(C#)</li>
                                        <li>모바일 app개발(안드로이드)</li>
                                        <li>반응형 웹</li>
                                    </ul>
                                <br>
                                <li>꽤 괜찮은 컴퓨터학원</li>
                                    <ul>
                                        <li>Spring 기반 프로젝트 - 쇼핑몰</li>
                                        <li>Cloud 서비스를 이용한 배포</li>
                                    </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-if="basic == '보유기술'">
                    <div  class="introduce">

                        <h2 class="title">보유기술</h2>
                        <div>
                            <ul>
                                <li>Java</li>
                                <li>Oracle</li>
                                <li>HTML/CSS</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div v-if="basic == 'Education'">
                    <div  class="introduce">
                        <div>
                            <h2 class="title">Education</h2>
                        </div>
                        <div>
                            <table >
                                <tr  id="edu_th">
                                    <th >출신학교</th>
                                    <th >전공</th>
                                    <th >기간</th>
                                    <th >구분</th>
                                </tr>
                                <tr >
                                    <td >아주좋은 대학교</td>
                                    <td >좋은학과</td>
                                    <td >2010.3~2014.2</td>
                                    <td >졸업</td>
                                </tr>
                                <tr >
                                    <td >아주좋은 고등학교</td>
                                    <td >-</td>
                                    <td >2007.3~2010.2</td>
                                    <td >졸업</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div id="watch_container">
                    <div id="time" ></div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
<script>
    // alert("welcome!");

    setInterval(()=>{             // setInterval => 정해진시간마다 반복되어 갱신됨
        let datetime = new Date();
        let obj = document.querySelector("#time");

        let minutes = datetime.getMinutes();
        let seconds = datetime.getSeconds();
        

        if (datetime.getMinutes() < 10) {
            minutes = "0" + datetime.getMinutes();
        }
        
        if (datetime.getSeconds() < 10) {
            seconds = "0" + datetime.getSeconds();
        } 
        

        let time = datetime.getHours() + " : "
                    + minutes + " : "
                    + seconds;

        obj.innerHTML = time;
    }, 1000); //1초마다 반복하여 갱신

    
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                basic: "자기소개"
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnUserList: function () {
                
            },
            fnAlert: function(){
                alert("안녕하세요! Lim hj 입니다! 방문해주셔서 감사합니다!");
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
        }
    });

    app.mount('#app');

</script>
